body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header, 
.hero, 
.footer, 
.random-info, 
.illustrations, 
.quote-container,
.cta {
    display: flex;
    margin: 0 auto;
    max-width: 750px;

}

.random-info, .illustration-item, .quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    padding: 10px 80px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: auto 5px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}

a {
    color: #E5E7EB;
    text-decoration: none;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero {
    gap: 30px;
    padding: 80px;
    background-color: #1F2937;
}

.hero-text {
    color: #e5e7eb;
    flex:1;
}

.hero-img {
    display: flex;
    align-items:center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.hero-button {
    border: none;
}

img {
    max-width: 500px;
    max-height: 175px;
    border-radius: 10px;
}

.square {
    border-style: solid;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-width: 3px;
    border-color:#3882F6

}


h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.illustration-item {
    max-width: 150px;
    gap: 10px;
    text-align: center;
    color: gray;
    font-weight:500;
}

.illustrations {
    flex-wrap:wrap;
    flex: 1;
    gap: 30px;
    justify-content: center;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 80px;
    margin: 80px auto;

}

.testimonial {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
    
}

.said-by {
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;
}

.cta {
    align-items: center;
    gap: 30px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    justify-content: center;
    padding: 30px;


}

.cta h3,p {
    margin: 5px;

}

.cta-button {
    border:2px solid #e5e7eb;
}

.footer {
    justify-content: center;
    margin-top: 80px;
    color: #F9FAF8;
    align-items: center;
}