body {
    font-family: Roboto, sans-serif;
}

.header, .hero, .footer {
    display: flex;
    padding: 10px 80px;
    background-color: #1F2937;
    margin: 0 auto;
    max-width: 750px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: auto 5px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}
